<p style="color: green"><%= notice %></p>

<h1 class="row align-items-center">
  <div class="col">Friends</div>
  <div class="col-auto">
    <%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>
  </div>
</h1>

<table class="table table-hover" id="friends">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Tweeter</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to "#{friend.first_name} #{friend.last_name}", friend, class: "text-primary text-decoration-none" %></td>
        <td><%=friend.email%></td>
        <td><%=friend.phone%></td>
        <td><%=friend.tweeter%></td>
        <td>
          <%= button_to friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

